<select {{on 'change' this.onAnimalSelect}}>
  <option disabled selected>Select an animal for {{@caretaker.name}}</option>
  {{#each this.animals as |animal|}}
    <option value={{animal.id}}>{{animal.species}}</option>
  {{/each}}
</select>


{{#if this.animalToAdd}}
  <button class="submitButton" {{on 'click' (fn this.addAnimal @caretaker)}}>Add Animal</button>
{{else}}
  
{{/if}}

