{{page-title "Animals"}}


{{#if this.model}}
  <ul>
    {{#each this.model as |animal|}}
      <li class="rental">
        <h3>{{animal.species}}</h3>  
        <div class="detail type">Diet: {{animal.diet}}</div> 
        <Animal::Remove @animal={{animal}}/><br>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No animals found.</p>
{{/if}}

<br>
<Animal::Add />