{{page-title "Caretaker " @model.name}}
<div class="header-container">
  <h1>Animals for {{this.model.name}}</h1>
  <Caretaker::AddAnimal @caretaker={{this.model}}/>
</div>

<ul>
  {{#each this.model.animals as |animal|}}
    <li class="zoo">
      <div>
        <h3>{{animal.species}}</h3>
        <div class="detail type">{{animal.diet}}</div>
      </div>
      <Caretaker::RemoveAnimal @caretaker={{this.model}} @animal={{animal}}/>
    </li>
  {{/each}}
</ul>


<Caretaker::Remove @caretaker={{this.model}}/>
