<h1>Animals for {{this.model.name}}</h1>

<ul>
  {{#each this.model.animals as |animal|}}
    <li class="rental">
      <h3>{{animal.species}}</h3>
      <div class="detail type">{{animal.diet}}</div>
      <Caretaker::RemoveAnimal @caretaker={{this.model}} @animal={{animal}}/></li>
  {{/each}}
</ul>

<Caretaker::AddAnimal @caretaker={{this.model}}/>
<br />
<Caretaker::Remove @caretaker={{this.model}}/>
